@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0 auto;
}

.titleheader{
    margin: 0 auto;
    margin-left: 2vw;
}
img{
    width: 60%;
    height: 45%;
    margin-top: 2vh;
}

#imglista{
  width: 5%;
  height: 3%;
  margin: 10px;
}
.info{
    font-size: 13px;
    color: #545454;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 10;
    }

    from {
        margin-left: 10%;
    }
}


@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.carrinhocheio{
    animation: enter 2s;
}
.center{
    display: flex;
    justify-content: center;
}
#popup{
    display: none;
    width: 75%;
    height: 70%;
    /* display: flex; */
    position: absolute;
    z-index: 1;
    /* margin: 0 auto; */
    margin-top: 8%;
    /* margin-left: 5%;     */
    background-color: rgb(225 214 245);;
    border-radius: 8px;
    box-shadow: rgba(175, 175, 175, 0.2) 0px 2px 8px 0px;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

}

.total{
  width: 40%;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: #d6c9ef;
  border-radius: 8px;
  padding: 2vw;
  box-shadow: 0px 0px 6px 0px #7979791c inset;
}
.total h2{
    margin-bottom: 5px;
    margin-top: 0;
    color: #393939;;
}
#carrinho{
    cursor: pointer;
}
#valortotal{
    margin: 0 auto;
    font-size: 3vw;
    margin-top: 5px;
    color: #5d4c7e;;
}
#lista{
  margin-top: 2vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
  margin-right: 15px;
  /* display: flex; */
  width: 60%;
  background-color: #d6c9ef;
  border-radius: 8px;
  padding: 2vw;
  box-shadow: 0px 0px 6px 0px #7979791c inset;
}

#lista h3{
    margin-top: 0;
    color: #393939;
}
#itemlista{
  display: flex;
  border-bottom: 1px solid #9f8cc3;
  /* justify-content: space-between; */
  align-items: center;
    /* justify-content: space-between; */
}
#metodos label{
  margin-right: 15px;
}

#preco{
  font-size: 18px;
  margin: 10px;
}

#nomeitem{
  width: 85%;
  overflow-x: hidden;
  /* margin-top: 20px; */
  /* margin-bottom: 5px; */
  font-size: 14px;
  /* margin-bottom: 5px; */
  margin: 10px;
}
.container{
    display: flex;
    justify-content: center;

}

.unblurred {
    height: 100%;
    width: 100%;
    position: relative;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
    /* background-color: rgb(116 116 116 / 18%); */
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

#close{
    width: 15px;
    height: 15px;
    margin: 10px;
    cursor: pointer;
}

.item{
    width: 20vw;
    height: 55vh;
    text-align: center;
    background-color: rgb(203 191 223 / 19%);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(175, 175, 175, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(213, 213, 213);
    /* min-height: fit-content; */
    
    /* min-width: fit-content; */
    /* line-break; */
}

.item:hover{
    box-shadow: rgb(171 152 204) 0px 2px 8px 0px;
}

.title{
    overflow: hidden;
    margin-top: 2vh;
    margin-bottom: 0;
    line-height: 30px;
    /* margin: 0 auto; */
}
.preco{
    /* overflow: hidden; */
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 0;
  }


.header{
    background-color: rgb(255, 255, 255);
    height: 8vh;
    width: 100%;
    margin: 0 auto;
    /* margin-bottom: 10vh; */
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.header img{
    width: 30px;
    height: 30px;
    /* margin: 0 auto; */
    margin-top: 1.2vh;
    margin-right: 2vw;
}
.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

h4{
    margin-left: 18%;
    color: #38393a;
    margin-top: 5vh;
}




.checkout {
    width: 270px;
    /* margin: 50px auto; */
    /* padding: 15px; */
    /* background: #f3f6fa;
    border: 1px solid;
    border-color: #c2cadb #bbc5d6 #b7c0cd;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); */
  }
  .checkout > p {
    zoom: 1;
  }
  .checkout > p:before, .checkout > p:after {
    content: '';
    display: table;
  }
  .checkout > p:after {
    clear: both;
  }
  .checkout > p + p {
    margin-top: 15px;
  }
  
  .checkout-header {
    position: relative;
    margin: -15px -15px 15px;
  }
  
  .checkout-title {
    padding: 0 15px;
    line-height: 38px;
    font-size: 13px;
    font-weight: bold;
    color: #7f889e;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    background: #eceff5;
    border-bottom: 1px solid #c5ccdb;
    border-radius: 7px 7px 0 0;
    background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
    background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
    background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
    background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
    -webkit-box-shadow: inset 0 1px white;
    box-shadow: inset 0 1px white;
  }
  .checkout-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  
  .checkout-price {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 40px;
    font: 14px/40px Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    text-indent: -1px;
    letter-spacing: -1px;
    background: #e54930;
    border: 1px solid;
    border-color: #b33323 #ab3123 #982b1f;
    border-radius: 21px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
    background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
    background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
    background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .checkout-price:before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border: 2px solid #f5f8fb;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
  }
  
  input {
    margin: 0;
    line-height: normal;
    font-family: inherit;
    font-size: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #labelp{
    padding-right: 10px;
  }
  select{
    /* float: left; */
    width: 180px;
    padding: 0 7px;
    height: 32px;
    color: #525864;
    background: white;
    border: 1px solid;
    border-color: #b3c0e2 #bcc5e2 #c0ccea;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #f6f8fa, white);
    background-image: -moz-linear-gradient(top, #f6f8fa, white);
    background-image: -o-linear-gradient(top, #f6f8fa, white);
    background-image: linear-gradient(to bottom, #f6f8fa, white);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  }
  
  .checkout-input {
    float: left;
    padding: 0 7px;
    height: 32px;
    color: #525864;
    background: white;
    border: 1px solid;
    border-color: #b3c0e2 #bcc5e2 #c0ccea;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #f6f8fa, white);
    background-image: -moz-linear-gradient(top, #f6f8fa, white);
    background-image: -o-linear-gradient(top, #f6f8fa, white);
    background-image: linear-gradient(to bottom, #f6f8fa, white);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  }
  .checkout-input:focus {
    border-color: #46aefe;
    outline: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
  }
  .lt-ie9 .checkout-input {
    line-height: 30px;
  }
  
  .checkout-name {
    width: 150px;
  }
  .checkout-namep {
    width: 210px;
    float: none !important;
  }
  
  .checkout-card {
    width: 210px;
    
  }
  .checkout-cpf {
    width: 210px;
    float: none !important;

  }
  
  
  .checkout-exp,
  .checkout-cvc {
    margin-left: 15px;
    width: 45px;
  }
  
  .checkout-btn {
    width: 100%;
    height: 34px;
    padding: 0;
    /* font-weight: ; */
    color: black;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #a5a5a5;
    background: #FAFBFC;
    border-radius: 4px;
    /* background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6); */
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .checkout-btn:active {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #075bba #0c69d2 #0f7de9;
    background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
    background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
    background-image: -o-linear-gradient(top, #1281dc, #1593fc);
    background-image: linear-gradient(to bottom, #1281dc, #1593fc);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  }

  .checkout-btnp {
    width: 210px;
    height: 34px;
    padding: 0;
    /* font-weight: ; */
    color: black;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #a5a5a5;
    background: #FAFBFC;
    border-radius: 4px;
    /* background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6); */
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .checkout-btnp:active {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #075bba #0c69d2 #0f7de9;
    background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
    background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
    background-image: -o-linear-gradient(top, #1281dc, #1593fc);
    background-image: linear-gradient(to bottom, #1281dc, #1593fc);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  }


#card{
    display: none;
    justify-content: center;
  }

  #pixm{
    display: none;
    justify-content: center;
  }

  #bandeiracard{
    margin-left: -170px;
    margin-top: 5px;
    width: 30px;
    display: none;
    /* height: none !important; */
  }

  #stars{
    width: 91px;
    height: 21px;
    object-fit: cover;
    margin: 0 auto;
  }


  #banner{
    width: 100%;
    /* height: 480px; */
    margin: 0 auto;
    display: flex;
  }