@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0 auto;
}

.titleheader{
    margin: 0 auto;
    margin-left: 2vw;
}
img{
    width: 60%;
    height: 45%;
    margin-top: 2vh;
}
.info{
    font-size: 14px;
    color: #545454;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 10;
    }

    from {
        margin-left: 10%;
    }
}


@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.carrinhocheio{
    animation: enter 2s;
}

#popup{
    display: none;
    width: 60%;
    height: 70%;
    /* display: flex; */
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    margin-left: 20%;    
    background-color: rgb(203 191 223);
    border-radius: 8px;
    box-shadow: rgba(175, 175, 175, 0.2) 0px 2px 8px 0px;
    animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;

}

.total{
    width: 45%;
    text-align: center;
    /* margin-top: 5vw; */
}
.total h2{
    margin-bottom: 5px;
}

#valortotal{
    margin: 0 auto;
    font-size: 3vw;
    margin-top: 5px;
}
#lista{
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
    margin-right: 15px;
    /* display: flex; */
    width: 45%;
}
#itemlista{
    display: flex;
    border-bottom: 1px solid gray;
    /* justify-content: space-between; */
}

#nomeitem{
    width: 85%;
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
}
.item{
    width: 20vw;
    height: 55vh;
    text-align: center;
    background-color: rgb(203 191 223 / 19%);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(175, 175, 175, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(213, 213, 213);
    /* min-height: fit-content; */
    
    /* min-width: fit-content; */
    /* line-break; */
}

.item:hover{
    box-shadow: rgb(171 152 204) 0px 2px 8px 0px;
}

.title{
    overflow: hidden;
    margin-top: 2vh;
    margin-bottom: 0;
    line-height: 30px;
    /* margin: 0 auto; */
}
.preco{
    /* overflow: hidden; */
    margin-top: 10px;
    padding: 5px;
    /* margin: 0 auto; */
}


.header{
    background-color: black;
    height: 8vh;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10vh;
    color: white;
    display: flex;
}

.header img{
    width: 30px;
    height: 30px;
    /* margin: 0 auto; */
    margin-top: 1.2vh;
    margin-right: 2vw;
}
.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

h4{
    margin-left: 18%;
    color: #38393a;
}